/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace controls "com.flexcapacitor.controls.*";

controls|ImageButton {
	skinClass:ClassReference("com.flexcapacitor.skins.ImageButtonSkin");
}

controls|FrameContainer {
	skinClass: ClassReference("com.flexcapacitor.skins.FrameSkin");
	backgroundColor: #9a9b9d;
	backgroundAlpha: 0;
	borderColor: #000000;
	borderAlpha: .75;
	borderWeight: 2;
	insetColor: #ffffff;
	insetAlpha: .75;
	cornerRadius: 10;
}

controls|InsetLabel {
	insetType: highlight;
	insetColor: #ffffff;
	insetAlpha: .75;
	insetDistance: 1;
	insetStrength: 1;
	inner: true;
}
