/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace controls "com.flexcapacitor.controls.*";

controls|ImageButton {
	skinClass:ClassReference("com.flexcapacitor.skins.ImageButtonSkin");
}

controls|FrameContainer {
	skinClass: ClassReference("com.flexcapacitor.skins.FrameSkin");
	backgroundColor: #9a9b9d;
	backgroundAlpha: 0;
	borderColor: #000000;
	borderAlpha: .75;
	borderWeight: 2;
	insetColor: #ffffff;
	insetAlpha: .75;
	cornerRadius: 10;
}

controls|InsetLabel {
	insetType: highlight;
	insetColor: #ffffff;
	insetAlpha: .75;
	insetDistance: 1;
	insetStrength: 1;
	inner: true;
}

controls|DataGrid {
	columnSeparatorAlpha: 1;
	columnSeparatorColor: #E6E6E6;
	columnSeparatorWeight: 1;
	headerBackgroundColor: #D8D8D8;
	headerRowSeparatorColor: #696969;
	headerRowSeparatorAlpha: 1;
	rowSeparatorAlpha: 1;
	rowSeparatorColor: #E6E6E6;
	rowSeparatorWeight: 1;
	showHeader: true;
	skinClass: ClassReference("com.flexcapacitor.skins.DataGridSkin");
}

controls|Link {
	color:#0000EE;
	textDecoration:none;
}

controls|Link:over {
	color:#0000EE;
	textDecoration:underline;
}