/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace controls "com.flexcapacitor.controls.*";
@namespace skins "com.flexcapacitor.skins.*";

controls|BorderContainer {
	skinClass: ClassReference("com.flexcapacitor.skins.BorderContainerSkin");
	borderSides: "left top right bottom";
}

controls|SolidFillButton {
	skinClass: ClassReference("com.flexcapacitor.skins.SolidFillButtonSkin");
}

controls|SolidFillToggleButton {
	skinClass: ClassReference("com.flexcapacitor.skins.SolidFillToggleButtonSkin");
}

controls|SolidFillButtonBar {
	skinClass: ClassReference("com.flexcapacitor.skins.SolidFillButtonBarSkin");
}
 
controls|ImageButton {
	icon: not_nothing; /* used to fix padding bug in SparkButtonSkin */
	paddingLeft: 10;
	paddingRight: 10;
	paddingBottom: 2;
	paddingTop: 2;
	backgroundAlpha: ClassReference(null);
	skinClass: ClassReference("com.flexcapacitor.skins.ImageButtonSkin");
}

controls|BeveledImageButton {
	skinClass: ClassReference("com.flexcapacitor.skins.BeveledImageButtonSkin");
}

controls|BeveledImageToggleButton {
	skinClass: ClassReference("com.flexcapacitor.skins.BeveledImageToggleButtonSkin");
	focusAlpha: 0;
	backgroundColor: #CCCCCC;
	backgroundAlpha: 1;
}

controls|FrameContainer {
	skinClass: ClassReference("com.flexcapacitor.skins.FrameSkin");
	backgroundColor: #9a9b9d;
	backgroundAlpha: 0;
	borderColor: #000000;
	borderAlpha: .75;
	borderWeight: 2;
	insetColor: #ffffff;
	insetAlpha: .75;
	cornerRadius: 10;
	angle: 90;
}

controls|InsetLabel {
	insetType: highlight;
	insetColor: #ffffff;
	insetAlpha: .75;
	insetDistance: 1;
	insetStrength: 1;
	inner: true;
}

controls|DataGrid {
	columnSeparatorAlpha: 		1;
	columnSeparatorColor: 		#E6E6E6;
	columnSeparatorWeight: 		1;
	
	headerBackgroundColor: 		#D8D8D8;
	headerTextColor: 			#696969;
	headerRowSeparatorColor: 	#696969;
	headerRowSeparatorAlpha: 	1;
	showHeader: 				true;
	
	rowSeparatorAlpha: 			1;
	rowSeparatorColor: 			#E6E6E6;
	rowSeparatorWeight: 		1;
	
	selectionBorderAlpha: 		1;
	selectionBorderColor: 		1;
	skinClass: 					ClassReference("com.flexcapacitor.skins.DataGridSkin");
	itemRenderer: 				ClassReference("com.flexcapacitor.controls.supportClasses.GridItemRenderer");
}

controls|Hyperlink {
	color:#0000EE;
	textDecoration:none;
}

controls|Hyperlink:over {
	color:#0000EE;
	textDecoration:underline;
}

controls|ItemRendererButton {
	gap:6;
}

controls|ClearButton {
	skinClass: ClassReference("com.flexcapacitor.skins.ClearButtonSkin");
}

controls|ClearButtonTextInput {
	skinClass: ClassReference("com.flexcapacitor.skins.SearchTextInputSkin");
	borderColorMobile: #CCCCCC;
}

controls|SearchTextInput {
	skinClass: ClassReference("com.flexcapacitor.skins.SearchTextInputSkin");
	borderColorMobile: #CCCCCC;
}

controls|AceSearchTextInput {
	skinClass: ClassReference("com.flexcapacitor.skins.SearchTextInputSkin");
	borderColorMobile: #CCCCCC;
}

controls|RichTextEditorBar {
	skinClass: ClassReference("com.flexcapacitor.skins.RichTextEditorBarSkin");
	backgroundColor: #FFFFFF;
	backgroundAlpha: 1;
}

controls|Callout {
	skinClass: ClassReference("com.flexcapacitor.skins.CallOutSkin");
}

skins|CallOutSkin {
	borderAlpha: 1;
	borderThickness: 1;
	borderColor: #000000;
	backgroundColor: #FFFFFF;
	contentBackgroundAppearance: flat;
	useBackgroundGradient: false;
	arrowWidth: 22;
	arrowHeight: 13;
	contentCornerRadius: 8;
	backgroundCornerRadius: 8;
	frameThickness: 6;
	frameAlpha: 1;
	highlightWeight: 0.5;
	dropShadowBlurX: 12;
	dropShadowBlurY: 12;
	dropShadowDistance: 2;
	dropShadowAngle: 90;
	dropShadowAlpha: 0.7;
	fadeDuration: 200;
}