/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace controls "com.flexcapacitor.controls.*";
@namespace view "com.flexcapacitor.prompt.view.*";

controls|BeveledImageButton {
	skinClass:ClassReference("com.flexcapacitor.skins.BeveledImageButtonSkin");
}

view|PromptDialog {
}

view|PromptDialog s|Button {
	horizontalAlign: 	center;
	verticalAlign: 		middle;
	paddingLeft: 		10;
	paddingRight: 		10;
	color: 				#ff0000;
	chromeColor: 		#ECECEC;
	fontFamily: 		_sans;
	fontSize: 			18;
	fontWeight: 		normal;
}
